 /* body {
    max-width: 500px !important;
    margin-right: 5px !important;
    padding: 0 15px !important;
    background-color: rgb(33, 193, 204) !important; */
}
.page {
    margin: 15px;
    color: blue;
}